.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
src-tauri/hash_list.txt
yarn-error.log
package-lock.json
/.yarn/install-state.gz
src-tauri/ResourceLib_HM2.dll
src-tauri/ResourceLib_HM2.pdb
src-tauri/ResourceLib_HM2016.dll
src-tauri/ResourceLib_HM2016.pdb
src-tauri/ResourceLib_HM3.dll
src-tauri/ResourceLib_HM3.pdb
src-tauri/ResourceLib_HMA.dll
src-tauri/ResourceLib_HMA.pdb
src-tauri/ResourceTool.exe
src-tauri/ResourceTool.pdb
src-tauri/ResourceTool-x86_64-pc-windows-msvc.exe
