name: Release

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    if: github.event.action != 'push' || startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2
        with:
          ref: "main"
          fetch-depth: 0
      
      - name: Get latest tag
        id: latestTag
        uses: 'WyriHaximus/github-action-get-previous-tag@v1.1.0'
        with:
          fallback: unknown
      
      - name: Prepare Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
          default: true
      
      - name: Install dependencies
        run: |
          yarn set version 3.2.3
          yarn
          yarn prepare

      - name: Download RPKG
        uses: aochmann/actions-download-artifact@5709392f11b5937bd316e52687ad87f7deced5f5
        with:
          repo: glacier-modding/RPKG-Tool
          name: rpkg
          latest: true
          path: './temp'
      
      - name: Download quickentity-rs
        uses: robinraju/release-downloader@v1.5
        with:
          repository: atampy25/quickentity-rs
          latest: true
          fileName: "quickentity-rs.exe"
          out-file-path: "./temp"
      
      - name: Update third-party files
        run: |
          copy "temp/rpkg-cli.exe" "src-tauri/sidecar/rpkg-cli-x86_64-pc-windows-msvc.exe"
          copy "temp/quickentity-rs.exe" "src-tauri/sidecar/quickentity-rs-x86_64-pc-windows-msvc.exe"
          robocopy "temp" "game-file-extensions" "quickentity-rs.exe" "quickentity-rs.exe"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy "temp" "src-tauri" "hash_list.txt" "hash_list.txt"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }

      - name: Clear temp
        run: |
          Get-ChildItem -Path "./temp" -Recurse | Remove-Item -force -recurse
          Remove-Item "./temp" -Force

      - name: Update package.json version
        uses: jossef/action-set-json-field@v2
        with:
          file: "package.json"
          field: "version"
          value: ${{ steps.latestTag.outputs.tag }}

      - name: Update Cargo.toml version
        uses: colathro/toml-editor@1.1.1
        with:
          file: "src-tauri/Cargo.toml"
          key: "package.version"
          value: ${{ steps.latestTag.outputs.tag }}

      - name: Update tauri.conf.json version
        uses: jossef/action-set-json-field@v2
        with:
          file: "src-tauri/tauri.conf.json"
          field: "package.version"
          value: ${{ steps.latestTag.outputs.tag }}

      - name: Update updates.json version
        uses: jossef/action-set-json-field@v2
        with:
          file: "updates.json"
          field: "version"
          value: ${{ steps.latestTag.outputs.tag }}

      - name: Update updates.json notes
        uses: jossef/action-set-json-field@v2
        with:
          file: "updates.json"
          field: "notes"
          value: "${{ github.event.head_commit.message || format('v{0}', steps.latestTag.outputs.tag) }}"

      - name: Update updates.json pub_date
        uses: jossef/action-set-json-field@v2
        with:
          file: "updates.json"
          field: "pub_date"
          value: ${{ github.event.repository.updated_at}}

      - name: Write key file
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: "src-tauri/qne.key"
          contents: ${{ secrets.KEYDATA }}

      - name: Write env file
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: "./.env"
          contents: |
            TAURI_PRIVATE_KEY=qne.key
            TAURI_KEY_PASSWORD=${{ secrets.KEYPASS }}

      - name: Build
        run: |
          yarn tauri build

      - name: Remove key file
        run: |
          Remove-Item "src-tauri/qne.key"

      - name: Remove env file
        run: |
          Remove-Item "./.env"
      
      - name: Read update signature
        id: updateSignature
        uses: andstor/file-reader-action@v1.0.0
        with:
          path: "src-tauri/target/release/bundle/msi/QuickEntity Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip.sig"

      - name: Update updates.json signature
        uses: jossef/action-set-json-field@v2
        with:
          file: "updates.json"
          field: "platforms.windows-x86_64.signature"
          value: ${{ steps.updateSignature.outputs.contents }}

      - name: Update updates.json URL
        uses: jossef/action-set-json-field@v2
        with:
          file: "updates.json"
          field: "platforms.windows-x86_64.url"
          value: "https://github.com/atampy25/quickentity-editor-next/releases/download/${{ steps.latestTag.outputs.tag }}/QuickEntity.Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip"

      - name: Ready portable zip
        run: |
          New-Item -ItemType Directory "src-tauri/target/release/portable"
          robocopy "src-tauri/target/release" "src-tauri/target/release/portable" "QuickEntity Editor.exe" "QuickEntity Editor.exe"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy "src-tauri/target/release" "src-tauri/target/release/portable" "hash_list.txt" "hash_list.txt"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy "src-tauri/target/release" "src-tauri/target/release/portable" "quickentity-rs.exe" "quickentity-rs.exe"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }
          robocopy "src-tauri/target/release" "src-tauri/target/release/portable" "rpkg-cli.exe" "rpkg-cli.exe"; if ($lastexitcode -lt 8) { $global:LASTEXITCODE = $null }

      - name: Create portable ZIP
        uses: TheDoctor0/zip-release@4fb9e4ff72847dd3d1c111cf63834e353ed7cb3d
        with:
          filename: Portable.zip
          path: src-tauri/target/release/portable

      - name: Create game file extensions ZIP
        uses: TheDoctor0/zip-release@4fb9e4ff72847dd3d1c111cf63834e353ed7cb3d
        with:
          filename: Game_File_Extensions_Scripts.zip
          path: "game-file-extensions"

      - name: Rename installer zip
        run: |
          Rename-Item -Path "src-tauri/target/release/bundle/msi/QuickEntity Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip" -NewName "QuickEntity.Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip"

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.latestTag.outputs.tag }}
          body: |
            ${{ github.event.head_commit.message || format('v{0}', steps.latestTag.outputs.tag) }}

            Download the `QuickEntity.Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip` file for an installer with automatic update capability, or the `Portable.zip` file, which makes no guarantees about automatic updates.

            To enable game file extensions, which makes working with entities far easier, extract `Game_File_Extensions_Scripts.zip` to a drive with at least 6 GB of space, run `doTheThing.bat` and follow the instructions it gives.
          tag_name: ${{ steps.latestTag.outputs.tag }}
          repository: atampy25/quickentity-editor-next
          files: |
            src-tauri/target/release/bundle/msi/QuickEntity.Editor_${{ steps.latestTag.outputs.tag }}_x64_en-US.msi.zip
            Portable.zip
            Game_File_Extensions_Scripts.zip
      
      - name: Remove ZIPs
        run: |
          Remove-Item Portable.zip
          Remove-Item Game_File_Extensions_Scripts.zip
      
      - name: Format
        run: |
          yarn format
      
      - name: Commit changes
        uses: EndBug/add-and-commit@v9.1.0
        with:
          default_author: github_actions
          message: "Post-update"
